<footer class="footer">
  <div class="container wow fadeIn">
    <img class="logo" src="/content/img/btv-logo.png" alt="Logo Benteveo">
    <h2>Tu proyecto merece el mejor equipo. <br> ¡Hablemos!</h2>
    <div class="email-us">Decí <a href="#">hola@benteveo.com</a></div>
    <address class="addressFooter">
      <div>
        <p>Guatemala 5582 Piso 2</p>
        <p>Buenos Aires, Argentina</p>
        <p>+54 11 5254 7363</p>
      </div>
      <div>
        <p>152 Southwest 14th Avenue</p>
        <p>Miami, Florida, United States</p>
        <p>+1 305 900 4934</p>
      </div>
      <div>
        <p>Amunategui 86 Of. 801</p>
        <p>Santiago, Chile</p>
      </div>
      <div>
        <p>Int. Suarez 161</p>
        <p>Colonia, Uruguay</p>
      </div>
    </address>
    <ul>
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
    </ul>
    <span class="derechos">© 2024 Benteveo | Todos los derechos reservados</span>
  </div>
</footer>