<div>
  <!-- MENU DE NAVEGACION -->
  <nav class="navigation-menu">
    <div class="green-layer"></div>
    <div class="black-layer"></div>
    <div class="inner">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Somos</a></li>
        <li><a href="#">Trabajos</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Clientes</a></li>
        <li><a href="#">Novedades</a></li>
        <li><a href="#">Conversemos</a></li>
      </ul>
    </div>
  </nav>
  <!-- NAVBAR -->
  <nav class="navbar rowCenter ga-1">
    <!-- CAMBIAR LOGO -->
    <div class="logo"><a href="index.html"><img src="/content/img/btv-logo.png" alt="Logo Benteveo"></a></div>
    <!-- MAIL TO -->
    <div class="email-us">Decí <a href="#">hola@benteveo.com</a></div>
    <div class="sandwich-nav">
      <b>MENU</b>
      <div class="sandwich-btn circle" id="sandwich-btn" data-dist="7"> <span></span> <span></span> </div>
    </div>
  </nav>
</div>