<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#FCB716" />
  <!-- CAMBIAR SEO -->
  <title>Benteveo</title>
  <meta name="description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta name="keywords"
    content="creative, works, showcase, portfolio, highlight, projects, parallax, agency, digital, studio, css, animation, transition, svg, html, css">
  <meta property="og:title" content="Benteveo">
  <meta property="og:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
  <meta property="og:url" content="http://www.themezinho.net/unicord">
  <!--head-->
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="https://kenwheeler.github.io/slick/slick/slick-theme.css" />
  <link rel="stylesheet" href="/content/css/home.css">
</head>

<body>
  <!-- REVISAR LOADERS -->
  <div class="preloader">
    <div class="inner">
      <div class="loader">
        <div class="trackbar">
          <div class="loadbar"></div>
        </div>
      </div>
      <div class="holder"> <span class="typewriter" id="typewriter"></span> </div>
    </div>
  </div>
  <div class="transition-overlay">
    <div class="green-layer"></div>
    <div class="black-layer"></div>
  </div>
  <!--header-->
  <!-- Hero -->
  <header class="header">
    <div class="hero">
      <h1>
        Somos creadores de ideas
      </h1>
      <p>Las hacemos volar, con los pies en la tierra</p>
      <div>
        <a class="heroBtn" href="#">CONOCÉ MÁS</a>
      </div>
    </div>
    <!-- SOCIAL MEDIA -->
    <!-- LINKS -->
    <ul class="social-media">
      <li><a href="https://www.facebook.com/BenteveoCoworkers/"><i class="fa fa-facebook"></i></a></li>
      <li><a href="https://www.instagram.com/benteveo_coworkers/"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://vimeo.com/benteveo"><i class="fa fa-vimeo"></i></a></li>
      <li><a href="https://www.linkedin.com/company/benteveo/"><i class="fa fa-linkedin"></i></a></li>
    </ul>
    <div class="scroll-down"><b>DESLIZÁ</b><span></span></div>
  </header>
  <div class="header-spacing"></div>
  <!-- MAIN CONTENT -->
  <main>
    <!-- PROYECTOS -->
    <section class="works">
      <ul>
        <li class="wow fadeInUp">
          <figure data-tilt> <img src="/content/img/works01.jpg" alt="Image" class="thumb">
            <figcaption> <img src="/content/img/logo-brand.png" alt="Image" class="brand">
              <h3>Yellow Ginger</h3>
              <small>UI-UX Design, WordPress</small> <a href="case-details.html">CONOCÉ MÁS</a>
            </figcaption>
          </figure>
        </li>
        <li class="wow fadeInUp">
          <figure data-tilt> <img src="/content/img/works02.jpg" alt="Image" class="thumb">
            <figcaption> <img src="/content/img/logo-brand2.png" alt="Image" class="brand">
              <h3>Red Tomato</h3>
              <small>Web Design, HTML, Development</small> <a href="case-details.html">CONOCÉ MÁS</a>
            </figcaption>
          </figure>
        </li>
        <li class="wow fadeInUp">
          <figure data-tilt> <img src="/content/img/works03.jpg" alt="Image" class="thumb">
            <figcaption> <img src="/content/img/logo-brand3.png" alt="Image" class="brand">
              <h3>Mr. Washington</h3>
              <small>App Development, UI-UX Design</small> <a href="case-details.html">CONOCÉ MÁS</a>
            </figcaption>
          </figure>
        </li>
        <li class="wow fadeInUp">
          <figure data-tilt> <img src="/content/img/works04.jpg" alt="Image" class="thumb">
            <figcaption> <img src="/content/img/logo-brand2.png" alt="Image" class="brand">
              <h3>House MD</h3>
              <small>Print Design, Branding</small> <a href="case-details.html">CONOCÉ MÁS</a>
            </figcaption>
          </figure>
        </li>
        <li class="wow fadeInUp">
          <figure data-tilt> <img src="/content/img/works05.jpg" alt="Image" class="thumb">
            <figcaption> <img src="/content/img/logo-brand3.png" alt="Image" class="brand">
              <h3>Celebrity</h3>
              <small>UI-UX Design, WordPress</small> <a href="case-details.html">CONOCÉ MÁS</a>
            </figcaption>
          </figure>
        </li>
        <li class="wow fadeInUp">
          <figure data-tilt> <img src="/content/img/works06.jpg" alt="Image" class="thumb">
            <figcaption> <img src="/content/img/logo-brand3.png" alt="Image" class="brand">
              <h3>Man in Black</h3>
              <small>HTML, Development</small> <a href="case-details.html">CONOCÉ MÁS</a>
            </figcaption>
          </figure>
        </li>
        <li class="wow fadeInUp">
          <figure data-tilt> <img src="/content/img/works07.jpg" alt="Image" class="thumb">
            <figcaption> <img src="/content/img/logo-brand.png" alt="Image" class="brand">
              <h3>Old School</h3>
              <small>App Design, Development</small> <a href="case-details.html">CONOCÉ MÁS</a>
            </figcaption>
          </figure>
        </li>
        <li class="wow fadeInUp">
          <figure data-tilt> <img src="/content/img/works08.jpg" alt="Image" class="thumb">
            <figcaption> <img src="/content/img/logo-brand2.png" alt="Image" class="brand">
              <h3>Paper Girl</h3>
              <small>UI-UX Design, HTML, Development</small> <a href="case-details.html">CONOCÉ MÁS</a>
            </figcaption>
          </figure>
        </li>
        <li class="wow fadeInUp">
          <figure data-tilt> <img src="/content/img/works09.jpg" alt="Image" class="thumb">
            <figcaption> <img src="/content/img/logo-brand3.png" alt="Image" class="brand">
              <h3>Moto Wheel</h3>
              <small>Branding, Print Design</small> <a href="case-details.html">CONOCÉ MÁS</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
    <!-- CLIENTES -->
    <section class="logos">
      <div class="logoSlider" id="logoSlider"></div>
    </section>
    <!-- PENSAMOS HACEMOS -->
    <section class="full-media-content bg-image" data-background="/content/img/grupo-creativo.jpg">
      <div class="sides leftPensamosHacemos">
        <figure class="wow fadeInLeft"><img src="/content/img/gif-creatividad.gif" alt="Image"></figure>
      </div>
      <!-- end sides -->
      <div class="sides inner-content">
        <div class="inner wow fadeInUp">
          <p class="loPensamos">SI LO PENSAMOS,</p>
          <h2>LO HACEMOS</h2>
          <p>
            La creatividad es el origen de todo lo que hacemos. Pero no nos detenemos en las ideas; las hacemos
            realidad. Las convertimos en acciones innovadoras, útiles e inteligentes orientadas a lograr resultados.
          </p>
          <a href="#">PASEN Y VEAN</a>
        </div>
        <!-- end inner -->
      </div>
      <!-- end sides -->
    </section>
    <!-- SERVICIOS -->
    <section class="features-content">
      <div class="container">
        <div>
          <div class="serviciosTitle wow fadeInLeft">
            <h2><span>IDEAS QUE VUELAN,</span><span>QUE CONECTAN CON LA GENTE</span></h2>
            <p>
              Creamos beneficios para nuestros clientes. Estrategias transformadoras que generen experiencias
              memorables, conectando a las marcas con los deseos de sus consumidores.
            </p>
          </div>
          <div class="serviciosContainer">
            <div class="servicioContainerHijo row inner">
              <div class="servicio col-md-4 wow fadeInUp">
                <div>
                  <div class="servicioHeader">
                    <img src="/content/img/desarrollo-web.svg" alt="Desarrollo Web">
                    <h3>DESARROLLO WEB:</h3>
                  </div>
                  <p>
                    Un sitio web es el reflejo de un negocio. Es por eso que creamos diseños que reflejen la identidad
                    de las marcas pero fundamentalmente pensados desde la experiencia del usuario.
                  </p>
                </div>
                <div>
                  <a href="#">CONOCÉ MÁS</a>
                </div>
              </div>
              <div class="servicio col-md-4 wow fadeInUp">
                <div>
                  <div class="servicioHeader">
                    <img src="/content/img/redes.svg" alt="Redes Sociales">
                    <h3>REDES SOCIALES:</h3>
                  </div>
                  <p>
                    Desarrollamos y producimos creatividad para mantener activa el diálogo de las marcas con sus
                    usuarios. Somos estratégicos: creamos, publicamos y medimos.
                  </p>
                </div>
                <div>
                  <a href="#">CONOCÉ MÁS</a>
                </div>
              </div>
              <div class="servicio col-md-4 wow fadeInUp">
                <div>
                  <div class="servicioHeader">
                    <img src="/content/img/activaciones.svg" alt="Activaciones">
                    <h3>ACTIVACIONES:</h3>
                  </div>
                  <p>
                    Desarrollamos experiencias creativas e innovadoras que conecten con la emoción para lograr
                    relevancia y recordación en los consumidores.
                  </p>
                </div>
                <div>
                  <a href="#">CONOCÉ MÁS</a>
                </div>
              </div>
              <div class="servicio col-md-4 wow fadeInUp">
                <div>
                  <div class="servicioHeader">
                    <img src="/content/img/creacion-de-contenidos.svg" alt="Creacion de Contenidos">
                    <h3>CREACIÓN DE CONTENIDOS:</h3>
                  </div>
                  <p>
                    Nuestro equipo creativo, diseñadores, fotógrafos, realizadores y editores utilizan sus habilidades
                    creativas para contar las historias de una manera atractiva y efectiva.
                  </p>
                </div>
                <div>
                  <a href="#">CONOCÉ MÁS</a>
                </div>
              </div>
              <div class="servicio col-md-4 wow fadeInUp">
                <div>
                  <div class="servicioHeader">
                    <img src="/content/img/produccion-de-video.svg" alt="Produccion de Video">
                    <h3>PRODUCCIÓN DE VIDEO:</h3>
                  </div>
                  <p>
                    Nuestros realizadores audiovisuales materializan las ideas en historias visualmente impactantes y
                    atractivas.
                  </p>
                </div>
                <div>
                  <a href="#">CONOCÉ MÁS</a>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!--footer-->
  </main>
  <!--finbody-->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/content/js/home.js"></script>
  <script src="/content/js/slickHome.js"></script>
</body>

</html>